@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

.newsCard {
	@apply flex flex-col justify-center py-5 px-1;
	font-family: 'Inter', sans-serif;

	.title {
		@apply text-lg font-bold text-center mt-4 truncate whitespace-normal;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 2;
	}
	.content {
		@apply text-center text-sm mt-1 truncate whitespace-normal;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 8;
	}
	.author {
		@apply font-bold text-sm text-right mt-4;
	}
	.date {
		@apply text-right text-gray-200 text-xs;
	}
	.url {
		@apply absolute bottom-4 bg-black text-white text-center w-1/2 py-1 rounded-md left-1/2 -translate-x-1/2;
	}
}
