.myMasonryGrid {
	display: flex;
	margin-left: -30px; /* gutter size offset */
	width: auto;
}
.myMasonryGridColumn {
	padding-left: 30px; /* gutter size */
	background-clip: padding-box;
}

.myMasonryGridColumn > div {
	background: grey;
	margin-bottom: 30px;
}
